html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:white;
    background-color:black;
}
h1 {
    padding-left:50px;
}
.imCap {
    width:650px;
    margin:auto;
    border:10px solid cornflowerblue;

}

.cap {
    text-align: center;
    font-size:15pt;
}


.pic {
    width:640px;
    height:480px;
}